<div class="signup">
	<div>
	<input class='box'type="text" placeholder='Please enter name' ng-model="newUser.username" />
	</div>
	<div>
		<input class='box'type="text" placeholder='Please enter email' ng-model="newUser.email" />
	</div>
	<div>
		<input class='box' type="password" placeholder='Please enter password' ng-model="newUser.password" />
	</div>
	<button type="submit" class = "btn-primary btn-lg" role = "button" ng-click="register()">Sign Up</button>
	<button type="submit" class = "btn-primary btn-lg" role = "button"><a style="color:white" ui-sref="login">Log In</a></button>
</div>